@use'custom';
//components
@use'components/animations';
@use'components/button';
@use'components/mixins';
@use'components/typography';
//sections
@use'sections/navbar';
@use'sections/intro';
@use'sections/companies';
@use'sections/services';
@use'sections/testimonials';
@use'sections/questions';
@use'sections/portfolio';
@use'sections/getStarted';
@use'sections/footer';