.companies{
    padding: 0 0 5rem 0;
    &__words{
        font-size:2rem;
        font-family:"Poppins",sans-serif;
        font-weight: 200;
    }
    &__logo-box{
        width: 100%;
        height:10rem;
        margin-bottom:2rem;
        padding:0.5rem;
        text-align: center;
        position:relative;

        img{
            height:100%;
            max-width: 240px;
            max-height: 180px;

            &:hover{
                filter:grayscale(120);
            }
        }

    }
}