@use'../custom' as *;
@use'mixins' as *;
.display-2{
    margin-bottom:2rem;
    text-transform: capitalize;
    &--intro{
        display:inline-block;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
    }
    &--description{
        font-size:1.5rem;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        display:block;
        margin-top:1.2rem;
        text-transform: none;
    }
} 
//Heading line
.heading-line::before{
    content:"";
    width:10rem;
    height:0.1rem;
    display:block;
    margin:0 auto;
    background-color:$primary;
}
.heading-line::after{
    content:"";
    width:2rem;
    padding-top:0.5rem;
    height:0.2rem;
    display:block;
    margin:0 auto;
    background-color:$primary;
}

//display-3
.display-3{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    &--title{
        font-size:1.8rem;
        text-transform:capitalize;
        font-weight:600;
        font-family:"Poppins", sans-serif;
        display: inline-block;
        background-image: linear-gradient(to right,$primary,$secondary);
        background-clip:text;
        -webkit-text-fill-color: transparent;
    }
}
.border-right{
    border-right:0.1rem solid $gray-300;
}

.gradient{
    background: linear-gradient(to right,rgba($primary,0.95),rgba($secondary,0.95));
}